\begin{question}
{{ q.question_latex }}
\par\vspace{0.25em}
\noindent\textit{Đáp số:}\ \rule{4.2cm}{0.4pt}
\end{question}
{% if show_answers %}
\begin{dapan}
{{ q.answer_latex }}
\end{dapan}
{% endif %}
{% if show_solutions %}
\begin{loigiai}
{{ q.loi_giai_latex }}
\end{loigiai}
{% endif %}
