\begin{question}
{{ q.question_latex }}
{% if q.get('choices') %}
{% set ch = q.choices %}
{% if ch|length == 4 %}
\choicegrid{ {{ ch[0] }} }{ {{ ch[1] }} }{ {{ ch[2] }} }{ {{ ch[3] }} }
{% else %}
\begin{fourchoices}
{% for c in ch %}
\item {{ c }}
{% endfor %}
\end{fourchoices}
{% endif %}
{% endif %}
\end{question}
{% if show_answers %}
\begin{dapan}
{{ q.answer_latex }}
\end{dapan}
{% endif %}
{% if show_solutions %}
\begin{loigiai}
{{ q.loi_giai_latex }}
\end{loigiai}
{% endif %}
